absl-py
attrs>=19.1.0
jax
matplotlib
opencv-contrib-python
protobuf>=3.11,<4
sounddevice>=0.4.4
pyyaml
rospkg
speechrecognition
pyttsx3
gTTS
pydub
flatbuffers~=1.12.0
gast==0.4.0
grpcio~=1.34.0
h5py~=3.1.0
#numpy~=1.19.2
numpy>=1.20
tensorboard~=2.5
tensorflow-estimator<2.6.0,>=2.5.0rc0
